<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    {% load static %}

body {
    background-color: #f1f1f1;
    background-image: url("{% static 'images/Algo13_wait.png' %}");
    background-size: cover;
    background-position: top center;
    background-repeat: repeat;
    padding-top: 150px; /* Added padding at the top */
    padding-bottom: 30px;
    min-height: 100vh; /* Ensure minimum height covers the full viewport */
    background-attachment: fixed;}
    </style>

    

</body>
</html>