<!-- Can you align the 11 boxes correctly and place the check bank churn button in a suitable position in this code? 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Buy-in Prediction</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-primary,
        .bg-primary,
        .text-primary,
        .navbar-dark .navbar-nav .nav-link.active {
            background-color: #ffc107 !important;
            border-color: #ffc107 !important;
            color: #000 !important;
        }

        .btn-primary:hover,
        .bg-primary:hover {
            background-color: #ffdd57 !important;
        }

        .container.center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }

        label {
            font-weight: bold;
            color: rgb(255,255,255);
        }
        {% load static %}

        body {
            background-color: #f1f1f1;
            background-image: url("{% static 'images/cby11_copy.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            color: #ffc107;
            font-size: 40px;
            font-family: sans-serif;
        }
    </style>
</head>

<body>

    <div class="container center">
        <h1 class="mt-5 ml-2">Customer Buy-In Prediction</h1>

        Display result message -->
        <!-- {% if result %} 
        <div class="alert alert-{{ result_class }}">
            {{ result }}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="container my-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="Education">Education (eg:1,2,3)</label>
                            <input type="number" class="form-control" id="Education" name="Education" required
                                value="{{ education|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="Marital_Status">Marital_Status (eg: 0 for Male, 1 for Female)</label>
                            <input type="number" class="form-control" id="Marital_Status" name="Marital_Status" required
                                value="{{ maritalstatus|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="Income">Income</label>
                            <input type="number" class="form-control" id="Income" name="Income" required
                                value="{{ income|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="Kidhome">Kidhome</label>
                            <input type="number" class="form-control" id="Kidhome" name="Kidhome" required
                                value="{{ kidhome|default:'' }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="Teenhome">Teenhome</label>
                            <input type="number" class="form-control" id="Teenhome" name="Teenhome" required
                                value="{{ teenhome|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="MntFruits">MntFruits</label>
                            <input type="number" step="0.1" class="form-control" id="MntFruits" name="MntFruits" required
                                value="{{ mntfruits|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="NumWebPurchases">NumWebPurchases</label>
                            <input type="number" step="0.01" class="form-control" id="NumWebPurchases"
                                name="NumWebPurchases" required value="{{ newwebpurchases|default:'' }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        <div class="form-group mb-4">
                            <label for="NumCatalogPurchases">NumCatalogPurchases</label>
                            <input type="number" step="0.1" class="form-control" id="NumCatalogPurchases" name="NumCatalogPurchases" required
                                value="{{ numcatalogpurchases|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                        <div class="form-group mb-4">
                            <label for="NumStorePurchases">NumStorePurchases</label>
                            <input type="number" step="0.1" class="form-control" id="NumStorePurchases" name="NumStorePurchases" required
                                value="{{ numstorepurchases|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                        <div class="form-group mb-4">
                            <label for="NumWebVisitsMonth">NumWebVisitsMonth</label>
                            <input type="number" step="0.1" class="form-control" id="NumWebVisitsMonth" name="NumWebVisitsMonth" required
                                value="{{ numwebvisitsmonth|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                        <div class="form-group mb-4">
                            <label for="Complain">Complain</label>
                            <input type="number" step="0.1" class="form-control" id="Complain" name="Complain" required
                                value="{{ complain|default:'' }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row-reverse pr-3">
                <button type="submit" class="btn btn-primary"><span>Check Bank Churn</span></button>
            </div>
        </form>
    </div>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Buy-in Prediction (Algo: Support Vector Machines) </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-primary,
        .bg-primary,
        .text-primary,
        .navbar-dark .navbar-nav .nav-link.active {
            background-color: #ffc107 !important;
            border-color: #ffc107 !important;
            color: #000 !important;
        }

        .btn-primary:hover,
        .bg-primary:hover {
            background-color: #6a520c !important;
        }

        label {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        {% load static %}

        body {
            background-color: #f1f1f1;
            background-image: url("{% static 'images/cby11_copy.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            color: #ffc107;
            font-size: 40px;
            font-family: sans-serif;
        }

        h4 {
            color: #ffffff;
            font-size: 20px;
            font-family: sans-serif;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .submit-button {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 class="mt-5 ml-2">Customer Buy-In Prediction (Algo: Support Vector Machines)</h1>
        <h4 class="mt-2 ml-2"> Feel free to enter dummy values/educated guesses to test this model out. </h4> <br> <br>

        <!-- Display result message -->
        {% if result %}
        <div class="alert alert-{{ result_class }}">
            {{ result }}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="container my-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Education">Education   -  (School:0, Under-Grad:1, Graduation:2, Master:3, PhD:4)</label>
                            <input type="number" class="form-control" id="Education" name="Education" required value="{{ education|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="marriagestatus">Marriage Status - <br> Married: 1, Single: 2</label>
                            <input type="number" class="form-control" id="marriagestatus" name="marriagestatus" required value="{{ marriagestatus|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Income">Income <br> (range: $1000 - $700,000)</label>
                            <input type="number" class="form-control" id="Income" name="Income" required value="{{ income|default:'' }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Kidhome">Kids At Home <br> (range 0 - 2)</label>
                            <input type="number" class="form-control" id="Kidhome" name="Kidhome" required value="{{ kidhome|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Teenhome">Teens At Home <br> (range 0 - 2) </label>
                            <input type="number" class="form-control" id="Teenhome" name="Teenhome" required value="{{ teenhome|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="MntFruits">Average Billing On Fruits <br> (range $0 - $200) </label>
                            <input type="number" class="form-control" id="MntFruits" name="MntFruits" required value="{{ mntfruits|default:'' }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NumWebPurchases">Num Web Purchases <br> (range 0 - 27)</label>
                            <input type="number" class="form-control" id="NumWebPurchases" name="NumWebPurchases" required value="{{ newwebpurchases|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NumCatalogPurchases">Num Catalog Purchases <br> (range 0 - 28)</label>
                            <input type="number" class="form-control" id="NumCatalogPurchases" name="NumCatalogPurchases" required value="{{ numcatalogpurchases|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NumStorePurchases">Num Store Purchases <br> (range 0 - 13)</label>
                            <input type="number" class="form-control" id="NumStorePurchases" name="NumStorePurchases" required value="{{ numstorepurchases|default:'' }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NumWebVisitsMonth">Num Web Visits Month <br> (range 0 - 20)</label>
                            <input type="number" class="form-control" id="NumWebVisitsMonth" name="NumWebVisitsMonth" required value="{{ numwebvisitsmonth|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Complain">Complain <br> No: 1, Yes: 2 </label>
                            <input type="number" class="form-control" id="Complain" name="Complain" required value="{{ complain|default:'' }}">
                        </div>
                    </div>
                </div>

                <!-- Submit button aligned to center -->
                <div class="row submit-button">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                        <a href="https://github.com/addy-bhatkal/addybhatkal.com-All-The-Algos.git" 
                    class="btn btn-primary" 
                    target="_blank">Github Link to Source Code</a>
                        <div></div>
                        <button type="submit" class="btn btn-primary"><span>Check Bank Churn</span></button>
                    </div>
                </div>
<!-- 

                <div class="d-flex justify-content-between">
                <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                <button type="submit" class="btn btn-primary"> <span>Check Churn</span></button>
            </div> -->

<div class="explanatory-text">
    <style>
        .explanatory-text {
            color: white;
            margin-top: 40px;
        }
    
        .explanatory-text h5 {
            font-size: 18px;
            font-weight: bold;
        }
    
        .explanatory-text p {
            font-size: 16px;
            margin-bottom: 0.5rem; /* Reduce the space between paragraphs */
        }
    </style>
    
    <h5 class="text-white">About this algo:  </h5> 
    <h7>- I built this model with a 'Support Vector Machine Classifier' algo on a dataset of 2.3k customer superstore purchases  with an accuracy of 86.83% </h7> <br>
    <h7>- I also tested this using models like Logistic Regression Classifier (accuracy: 88.16%), 
        Decision Tree Classifier (accuracy: 86.38%), Random Forest (accuracy score: 88.8%), 
        K Nearest Neighbour (accuracy score: 83.92%), Support Vector machines (accuracy: 86.83%), 
        Gradient Boost Classifier (accuracy: 87.94%) </h7> <br>
    <h7>- Recursive Feature Elimination (RFE): In order to improve the accuracy of the model I used Recursive Feature Elimination (RFE) to identify the most important features/predictors. This happens by testing the model by recursively eliminating one predictor after another to get the best predictors</h7> <br> 
    <h7>- While in a model like SVC it is sometimes difficult to predict which predictors had more influence than the others the above combination of 11 predictors gave the highest accuracy score  </h7> <br> <br>
    
    <h5 class="text-white">Use cases of the underlying principle:  </h5>
    <h7>- The Random Forest Classifier just like other classification algorithms (Logistic Regression, Decision Trees, XGBoost, Support Vector Machines, KMeans Cluster) could be used to: </h7> <br>
    <h7>- Drug Effectiveness: Analyze which treatments work best for specific groups (pharma companies would be heavily reliant on this!), 
        Credit Card Usage: Analyze spending patterns and use this data to crack partnership deals eg: AMEX and AirMiles, 
        Predictive Maintenance: Forecast machinery failure before breakdowns occur (something that Honda mastered), 
        Predict claims likelihood and calculate premiums accordingly Crop Yield Prediction: Analyze environmental 
        factors and forecast yields - Even impact investing firms and farmer lending companies can benefit from this, 
        Predict player/viewer churn and optimize in-game offers (e-gaming AND IPL/EPL/NFL/NBA), Gaming: Predict whether a player 
        will continue playing or churn., Predict likelihood of in-app purchases and optimize offers, Predict top-performing 
        players in competitive games, Energy Management: Solar Energy Prediction - Estimate energy output from solar farms 
        based on weather conditions, Game Strategy Recommendations: Analyze past matches to suggest optimal strategies, 
        Education: Dropout Prediction: Identify students at risk of dropping out based on academic performance and 
        socio-demographic factors.  </h7> <br>

    
    <h7 class="text-white"> <br>
    <h5 class="text-white">Dataset: What does the underlying data look like?:  </h5>
    <h7 class="text-white"> - The dataset was an excel sheet of values of the same parameters you see above in the from. </h7> <br>
    <h7 class="text-white"> - Data Training: 80% of that data was used to train the model and 20% was used to test it which gave you the accuracy score you see above.  </h7> <br>
    model and 20% was used to test it which gave you the accuracy score you see above.  </h7> <br>

        
                </div>
        </form>
    </div>

</body>

</html>
